{{ 'animate.css' | asset_url | stylesheet_tag }}

{% style %}
.flexitem__text__align--{{ section.id }}{
  text-align: {{ section.settings.text_alignment }};
}
.image-text__paragraph{
  margin-top: 10px;
  margin-bottom: 20px;
}
{% for block in section.blocks %}
  .button_color--{{ section.id }}{
    color: {{ block.settings.button_text_color_mobile }};
    background-color: {{ block.settings.button_bg_color_mobile }};
  }
  .pre-heading--{{ section.id }}{
    color: {{ block.settings.caption_color_mobile }};
  }
  .heading--{{ section.id }}{
    color: {{ block.settings.heading_color_mobile }};
  }
{% endfor %}
@media screen and (min-width: 768px){
{% for block in section.blocks %}
  .image-align--right{
    flex-direction: row-reverse;
  }
  .button_color--{{ section.id }}{
    color: {{ block.settings.button_text_color }};
    background-color: {{ block.settings.button_bg_color }};
  }
  .pre-heading--{{ section.id }}{
    color: {{ block.settings.caption_color }};
  }
  .heading--{{ section.id }}{
    color: {{ block.settings.heading_color }};
  }
{% endfor %}
}
{% endstyle %}

<div class="image-text section" >
<div class="image-text-wrapper page-width image-text__flex image-align--{{ section.settings.image_alignment }}" >
  {% capture Image %}
    {% if section.settings.image != nil %}
    <img class="image-text__image image-text__image_desktop" src="{{ section.settings.image | image_url }}" alt="Image">
    <img class="image-text__image image-text__image_mobile" src="{{ section.settings.image_mobile | default: section.settings.image | image_url }}" alt="Image">
    {% else %}
    {{ 'image' | placeholder_svg_tag }}
    {% endif %}
  {% endcapture %}
  {% if section.settings.image_url != nil %}
    <a href="{{ section.settings.image_url }}" class="image-text__flexitem" >
      {{ Image }}
    </a>
  {% else%}
  <div class="image-text__flexitem" >
    {{ Image }}
  </div>
  {% endif %}
  <div class="image-text__flexitem animate-ease-in flexitem__text flexitem__text__align--{{ section.id }}" >
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'caption' %}
            {%- if block.settings.caption != nil -%}
              <div class="image-text__pre-heading pre-heading--{{ section.id }}" >
                {{ block.settings.caption }}
              </div>
            {%- endif -%}
          {% when 'heading' %}
            {%- if block.settings.heading != nil -%}
              <h2 class="image-text__heading heading--{{ section.id }}" >
                {{ block.settings.heading }}
              </h2>
            {%- endif -%}
          {% when 'paragraph' %}
            {%- if block.settings.paragraph != nil -%}
              <div class="image-text__paragraph paragraph--{{ section.id }}" >
                {{ block.settings.paragraph }}
              </div>
            {%- endif -%}
          {% when 'button' %}
            {%- if block.settings.button_text != nil and block.settings.button_link != blank -%}
              <a href="{{ block.settings.button_link }}" class="image-text__button button_color--{{ section.id }}" >{{ block.settings.button_text }}</a>
            {%- endif -%}
        {% endcase %}
      {% endfor %}
  </div>
</div>
</div>

{% schema %}
{
  "name": "Image With Text",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "600x800 .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image (Mobile)",
      "info": "400x600 .jpg recommended"
    },
    {
      "type": "url",
      "id": "image_url",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "image_alignment",
      "label": "Image alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right"
    },
    {
      "type": "header",
      "content": "ALIGNMENT SETTINGS"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left"
    }
  ],
  "blocks": [
    {
      "name": "Caption",
      "type": "caption",
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "label": "Text",
          "default": "Caption"
        },
        {
          "type": "color",
          "id": "caption_color",
          "label": "Text color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "caption_color_mobile",
          "label": "Text color (Mobile)",
          "default": "#000000"
        }
      ]
    },
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Text",
          "default": "Heading text here"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Text color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "heading_color_mobile",
          "label": "Text color (Mobile)",
          "default": "#000000"
        }
      ]
    },
    {
      "name": "Paragraph",
      "type": "paragraph",
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Text",
          "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>"
        },
        {
          "type": "color",
          "id": "paragraph_color",
          "label": "Text color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "paragraph_color_mobile",
          "label": "Text color (Mobile)",
          "default": "#000000"
        }
      ]
    },
    {
      "name": "Button",
      "type": "button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Text color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_text_color_mobile",
          "label": "Text color (Mobile)",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Background color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_bg_color_mobile",
          "label": "Background color (Mobile)",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_border_color",
          "label": "Border color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_border_color_mobile",
          "label": "Border color (Mobile)",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image With Text",
      "blocks": [
        { "type": "caption" },
        { "type": "heading" },
        { "type": "paragraph" },
        { "type": "button" }
      ]
    }
  ]
}
{% endschema %}